.about-us__wrapper {
  padding: 130px 0;

  @media (max-width: $medium-width) {
    padding: 70px 90px 32px;
  }

  @media (max-width: $small-width) {
    padding: 70px 0 42px;
  }
}

.about-us h2 {
  margin: 20px auto 48px;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $basic-content;

  @media (max-width: $medium-width) {
    margin: 0 auto 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 41px;
  }
}

.about-us ol {
  @include reset-list;
  @include display-flex-wrap;
  justify-content: center;
  list-style-type: none;
  counter-reset: num;
}

.about-us li {
  position: relative;
  width: 22%;
  min-height: 70px;
  padding-top: 34px;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  text-align: center;


  @media (min-width: $large-width-only) {
    &:not(:nth-child(4n+4)) {
      margin-right: 4%;
    }
  }

  @media (max-width: $medium-width) {
    margin-bottom: 16px;
    width: 47%;

    &:nth-child(2n+1) {
      margin-right: 6%;
    }
  }

  @media (max-width: $small-width) {
    margin-bottom: 20px;
    width: 100%;
    font-size: 18px;
    line-height: 34px;
  }
}

.about-us li::before {
  content: "0"counters(num, "");
  counter-increment: num;
  display: inline-block;
  position: absolute;
  vertical-align: auto;
  top: 2px;
  left: 42px;
  width: 100px;
  height: 60px;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: $accent-main;
  text-align: right;

  @media (max-width: $small-width) {
    left: 62px;
  }
}
