.contacts__wrapper {
  width: 83%;
  padding: 36px 0 94px;
  margin: 0 auto;

  @media (max-width: $medium-width) {
    padding: 20px 0 50px;
  }

  @media (max-width: $small-width) {
    width: 100%;
    padding-top: 31px;
  }
}

.contacts ul {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 90px;
  width: max-content;
  margin: 0 auto;
  padding-right: 16px;

  @media (max-width: $small-width) {
    grid-template-columns: 1fr;
    gap: 22px;
    width: 100%;
    padding-right: 0;
  }
}

.contacts li {
  @include display-flex-wrap;
  justify-content: space-between;
  align-content: center;

  @media (max-width: $small-width) {
    width: 100%;
  }
}

.contacts a {
  @include display-flex-wrap;
  width: 100%;
  height: 100%;
  margin: auto;
  line-height: 22px;
  text-decoration: none;
  text-align: right;
  color: $basic-black-opacity05;

  &:hover {
    color: $accent-main;
  }

  &:active {
    opacity: 0.2;
  }

  @media (max-width: $small-width) {
    justify-content: flex-start;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
  }
}

.contacts__icon {
  width: 26px;
  margin: auto 16px auto 0;

  &--phone {
    fill: none;
  }

    @media (max-width: $small-width) {
      margin: 0 15px;

    &--phone {
      margin: -4px 14px 0 42px;
    }
  }
}

.contacts p {
  margin: 0;
}
