.header {
  position: relative;

  @include display-flex-wrap;
  justify-content: center;
  min-height: 85px;

  @media (max-width: $medium-width) {
    justify-content: flex-start;
    min-height: 50px;
  }
}

.header__logo {
  position: absolute;
  top: 317px;
  left: 19.4%;

  @media (max-width: $medium-width) {
    top: 25px;
    left: 20px;
    z-index: 3;
  }
}
