.location {
  @include display-flex-wrap;
  flex-direction: column;
  width: 100%;
}

.location__wrapper {
  text-align: center;
}

.location h2 {
  margin: 0 auto 30px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $basic-content;

  @media (max-width: $medium-width) {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 30px;
  }

  @media (max-width: $small-width) {
    font-size: 18px;
  }
}


.location address {
  width: 80%;
  margin: 0 auto 40px;
  font-size: 17px;
  line-height: 31px;
  font-style: normal;
  color: $basic-black-opacity07;

  @media (max-width: $medium-width) {
    width: 100%;
    margin-bottom: 18px;
  }

  @media (max-width: $small-width) {
    width: 87%;
  }
}
