.nav {
  position: relative;
  width: 100%;
  max-width: 873px;
  padding-top: 10px;

  @include display-flex-wrap;
  justify-content: center;

  @media (max-width: $medium-width) {
    position: absolute;
    max-width: 100%;
    height: 100vh;
    padding-top: 0;
    overflow-y: auto;
    margin: 0;
    right: 0;
    z-index: 1;
  }
}

.nav ul {
  @include reset-list;
  @include display-flex-wrap;
  justify-content: center;
  width: 100%;
  height: min-content;
  border-bottom: 1px solid $basic-white-opacity02;

  @media (max-width: $medium-width) {
    flex-direction: column;
    height: 100%;
    padding: 100px 0;
    background-color: $basic-white;
    border-bottom: none;
  }
}

.nav li {
  padding: 10px 20px;

  @media (min-width: $large-width-only) {
    &:not(:last-child) {
      margin-right: auto;
    }
  }

  @media (max-width: $medium-width) {
    position: relative;
    min-height: 28px;
    margin-bottom: 30px;
    padding: 14px;
    background-color: $light-background;
  }
}

.nav__link {
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.005em;
  color: $basic-white-opacity07;

  @media (max-width: $medium-width) {
    display: block;
    width: 100%;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: $nav-text;

    &::before {
      position: absolute;
      top: 24px;
      right: 20px;
      content: "";
      display: block;
      width: 8px;
      height: 12px;
      background-image: url("../img/icon-arrowlink.svg");
      background-repeat: no-repeat;
    }
  }

  &:hover {
    color: $accent-main;

    &::before {
      width: 12px;
      height: 18px;
      background-size: 12px 18px;
    }
  }

  &:active {
    opacity: 0.2;

    &::before {
      opacity: 0.2;
    }
  }
}

.nav__toggle {
  display: none;

  @media (max-width: $medium-width) {
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: 0;
    border: none;
  }
}

@media (max-width: $medium-width) {
  .nav--opened {
    .nav__toggle {
      right: 0;
      background-image: url("../img/icon-nav-opened.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30px 30px;
      background-color: $accent-main;
    }

    ul {
      display: none;
    }
  }

  .nav--closed {
    .nav__toggle {
      right: 0;
      background-color: $basic-white;
      background-image: url("../img/icon-nav-closed.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30px 30px;
    }
  }

  .nav--nojs {
    position: relative;
    width: 100%;
    height: 568px;
    padding: 0;

    ul {
      display: block;
      position: absolute;
      height: 368px;
    }

    .nav__toggle {
      display: none;
    }
  }
}
