.page-header {
  background-image:
    url("../img/promo-back_large.jpg"),
    linear-gradient($dark-background, $dark-background);

  @media (min-resolution: 2dppx) {
    background-image:
      url("../img/promo-back_large@2x.jpg"),
      linear-gradient($dark-background, $dark-background);
  }
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: $medium-width) {
    background-image: none;
  }

  &::before {
    @media (max-width: $medium-width) {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      width: 100vw;
      min-height: 340px;
      background-image:
        url("../img/promo-back_medium.jpg"),
        linear-gradient($dark-background, $dark-background);

      @media (min-resolution: 2dppx) {
        background-image:
          url("../img/promo-back_medium@2x.jpg"),
          linear-gradient($dark-background, $dark-background);
      }
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    @media (max-width: $small-width) {
      min-height: 390px;
      background-image:
        url("../img/promo-back_small.jpg"),
        linear-gradient($dark-background, $dark-background);

      @media (min-resolution: 2dppx) {
        background-image:
          url("../img/promo-back_small@2x.jpg"),
          linear-gradient($dark-background, $dark-background);
      }
    }
  }
}

.page-header--nojs::before {
  @media (max-width: $medium-width) {
    top: 568px;
  }
}
