.promo__wrapper {
  @include display-flex-wrap;
  justify-content: space-between;
  min-height: 762px;
  padding: 20px 140px 0;
  box-sizing: border-box;

  @media (max-width: 1296px) {
    padding: 20px 40px 0;
  }

  @media (max-width: $medium-width) {
    flex-direction: column;
    justify-content: flex-start;
    min-height: 700px;
    padding: 0 172px;
  }

  @media (max-width: $small-width) {
    padding: 66px 0;
  }
}

.promo__content {
  width: 40%;
  padding-top: 284px;

  @media (max-width: $medium-width) {
    width: 100%;
    margin-bottom: 74px;
    height: 200px;
    padding-top: 80px;
    overflow-y: auto;
  }

  @media (max-width: $small-width) {
    height: 268px;
    margin-bottom: 72px;
    padding: 0;
  }
}

.promo__title {
  margin: 0 0 24px;
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  color: $basic-white;

  @media (max-width: $medium-width) {
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }

  @media (max-width: $small-width) {
    margin-bottom: 20px;
  }
}

.promo__offer {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: $basic-white-opacity08;

  @media (max-width: $medium-width) {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }

  @media (max-width: $small-width) {
    min-height: 96px;
  }
}

.promo__form {
  width: 37%;
  align-self: center;

  @media (max-width: $medium-width) {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
  }

  @media (max-width: $small-width) {
    max-width: 288px;
    padding: 0;
  }
}
