.promo__wrapper {
  display: grid;
  grid-template-columns: 46% 37%;
  gap: 17%;
  grid-template-rows: min(750px);
  width: 77%;
  margin: 0 auto;

  @media (max-width: $medium-width) {
    grid-template-columns: 100%;
    grid-template-rows: 287px auto;
    gap: 70px;
    width: 60%;
  }

  @media (max-width: $small-width) {
    grid-template-rows: 340px auto;
    gap: 72px;
    width: 100%;
    padding: 0;
  }
}

.promo__content {
  padding-top: 295px;

  @media (max-width: $medium-width) {
    width: 100%;
    padding-top: 86px;
    overflow-y: auto;
  }

  @media (max-width: $small-width) {
    padding-top: 70px;
  }
}

.promo__title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  color: $basic-white;

  @media (max-width: $medium-width) {
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }

  @media (max-width: $small-width) {
    margin-bottom: 20px;
  }
}

.promo__offer {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: $basic-white-opacity08;

  @media (max-width: $medium-width) {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }

  @media (max-width: $small-width) {
    min-height: 96px;
  }
}

.promo__form {
  width: 100%;
  align-self: center;

  @media (max-width: $medium-width) {
    width: 74%;
    margin: 0 auto;
  }

  @media (max-width: $small-width) {
    width: 100%;
  }
}
